@media screen and (min-width: 768px) {
  .m {
    display: none !important;
  }

  a[href^="tel:"] {
    text-decoration: none;
    cursor: default;
    color: inherit;
    pointer-events: none;
    white-space: nowrap;
  }
}
@media screen and (max-width: 767px) {
  .d {
    display: none !important;
  }

  html {
    font-size: 32px;
    height: auto;
  }

  body {
    min-width: 320px;
  }

  form {
    position: relative;
    display: block;
    height: auto;
  }

  .footer .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .footer .wrapper .left {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 744px) {
  html {
    font-size: 31px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 30px;
  }
}
@media screen and (max-width: 696px) {
  html {
    font-size: 29px;
  }
}
@media screen and (max-width: 672px) {
  html {
    font-size: 28px;
  }
}
@media screen and (max-width: 648px) {
  html {
    font-size: 27px;
  }
}
@media screen and (max-width: 624px) {
  html {
    font-size: 26px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 24px;
  }
}
@media screen and (max-width: 552px) {
  html {
    font-size: 23px;
  }
}
@media screen and (max-width: 528px) {
  html {
    font-size: 22px;
  }
}
@media screen and (max-width: 504px) {
  html {
    font-size: 21px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 20px;
  }
}
@media screen and (max-width: 456px) {
  html {
    font-size: 19px;
  }
}
@media screen and (max-width: 432px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 408px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 384px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 336px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 13.328px;
  }
}
